.introduction {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    // animation: logoAnim 3s ease-in-out forwards;

    * {
      transform-box: fill-box;
    }
    path {
      transform: scale(0);
      transform-origin: 0 0;
      // opacity: 0;
      @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          animation: logoAnimPath 0.2s #{$i * 0.1}s ease-in forwards;
        }
      }
    }
  }

  @at-root {
    @keyframes logoAnim {
      0% {
        transform: rotate(-45deg);
      }
      50% {
        transform: rotate(22.5deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
    @keyframes logoAnimPath {
      50% {
        fill: variable(primary);
        transform: scale(1.25);
      }
      100% {
        fill: variable(foreground);
        transform: scale(1);
      }
    }
  }
  .logo {
    width: 200px;
    transform: translateY(100%) translateX(100%) scale(0);
    animation: comeInLogo 2s 0s ease-in-out forwards;
    @at-root {
      @keyframes comeInLogo {
        25%,
        75% {
          opacity: 1;
          transform: translateY(100%) translateX(100%) scale(3);
        }
        100% {
          opacity: 1;
          transform: translateY(0) translateX(-25%) scale(1);
        }
      }
    }
  }
  .content {
    transform: translateY(50%) scale(0.8);
    opacity: 0;
    animation: comeInContent 0.3s 1.5s ease-in-out forwards;
    @at-root {
      @keyframes comeInContent {
        to {
          opacity: 1;
          transform: translateY(0) scale(1);
        }
      }
    }
  }

  .container {
    padding: calc(variable(space) * 2);
  }
  h2 {
    color: variable(primary);
  }
  p,
  li {
    font-size: 1.25em;
  }
  ol {
    counter-reset: listCounter;
    li {
      font-size: 1em;
      display: flex;
      padding: 0.5em 0;
      line-height: 1.5;
      counter-increment: listCounter;
      align-items: flex-start;
      &::before {
        border-radius: 50%;
        display: block;
        width: 1.75em;
        padding: 0;
        line-height: 1;
        text-align: center;
        font-weight: bold;
        transform: rotate(5deg);
        font-size: 0.875em;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        color: variable(secondaryText);
        background-color: variable(secondary);
        content: counter(listCounter);
        margin-right: 0.5em;
      }
    }
  }
}
