@import "@sil/themer/use";

.upload-invoice {
  padding: 100px;
  background-color: variable(foreground);
  color: variable(foregroundText);
  border-radius: variable(borderRadius);
  input {
    width: 100%;
    border-radius: variable(borderRadius);
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variable(foreground90);
    cursor: pointer;

    &::file-selector-button {
      border: 2px solid variable(primary);
      padding: 0.2em 0.4em;
      border-radius: 0.2em;
      background-color: variable(primary75);
      color: variable(primary75Text);
      transition: 0.1s;
      margin: 1.5em;
      &:hover {
        border: 2px solid variable(secondary);
        background-color: variable(secondary75);
        color: variable(secondary75Text);
      }
    }
  }
  h2 + input {
    margin-top: 1em;
  }
}
