// @import "@sil/themer/use";

.invoice-form {
  height: 100%;
  overflow: scroll;

  &__actions {
    position: sticky;
    bottom: 0;
    background-color: variable(foreground);
    border-top: 1px solid variable(foreground75);
    z-index: 3;
  }
  &__subheader {
    color: variable(primary);
    padding: variable(space-s) 0;
  }
  &__section {
    padding: variable(space-s);
    & + & {
      border-top: 1px solid variable(foreground75);
    }
  }

  // entries
  &__items {
    & + .button-group {
      margin-top: variable(space-xs);
    }
  }
  &__item {
    position: relative;
    // padding: 1em;
    border-radius: variable(borderRadius);
    // margin: 0 -1em;
    & + & {
      margin-top: variable(space-s);
    }
  }
}
