<section :class="style.bem('section')" v-if="invoice.current">
  <h3 :class="style.bem('subheader')">{{t('setting',2)}}</h3>
  <InvoiceSettingsForm :class="style.bem('settings')" />
</section>

<section :class="style.bem('section')">
  <h3 :class="style.bem('subheader')">{{t('item',2)}}</h3>

  <ul :class="style.bem('items')">
    <InvoiceItemForm
      tag="li"
      :class="style.bem('item')"
      :item="item"
      v-for="(item,index) in invoice.current.data"
      :key="index"
    />
  </ul>
  <UIButtonGroup :align="ButtonAlign.CENTER">
    <UIButton
      :class="style.bem('add')"
      @click="actions.newEntry"
      :icon="ButtonIcon.ADD"
    >
      {{t('action.add-item')}}
    </UIButton>
  </UIButtonGroup>
</section>

<section :class="style.bem('section')">
  <InvoiceEntityForm
    :class="style.bem('entity')"
    :entityData="invoice.client"
    :entity="Entity.CLIENT"
  />
</section>

<section :class="style.bem('section')">
  <InvoiceEntityForm
    :class="style.bem('entity')"
    :entityData="invoice.seller"
    :entity="Entity.SELLER"
  />
</section>

<section :class="style.bem('section')">
  <h3 :class="style.bem('subheader')">{{t('note',2)}}</h3>

  <ul :class="style.bem('items')">
    <InvoiceNoteForm
      tag="li"
      :class="style.bem('item')"
      :item="item"
      v-for="(item,index) in invoice.settings.notes"
      :key="index"
    />
  </ul>
  <UIButtonGroup :align="ButtonAlign.CENTER">
    <UIButton
      :class="style.bem('add')"
      @click="actions.newNote"
      :icon="ButtonIcon.ADD"
    >
      {{t('action.add-note')}}
    </UIButton>
  </UIButtonGroup>
</section>

<section :class="style.bem('section')">
  <h3 :class="style.bem('subheader')">{{t('footer')}}</h3>
  <UIFormTextArea v-model="invoice.settings.footer"></UIFormTextArea>
</section>

<section
  :class="[style.bem('section'),style.bem('actions')]"
  v-if="showActions"
>
  <UIButtonGroup>
    <UIButton @click="actions.saveInvoice" v-if="!showSave" icon="arrow-down">
      {{t('force-save')}}
    </UIButton>
    <UIButton @click="actions.saveInvoice" v-if="showSave" icon="arrow-down">
      {{t('save')}}
    </UIButton>
    <UIButton @click="actions.saveInvoice" v-if="showUpdate" icon="arrow-down">
      {{t('save')}}
    </UIButton>
    <UIButton @click="actions.export" v-if="showExport" icon="arrow-down"
      >{{t('export')}}</UIButton
    >
    <UIButton @click="actions.toPdf" v-if="showExport" icon="arrow-down">
      {{t('to-pdf')}}
    </UIButton>
  </UIButtonGroup>
</section>
