// @import "@sil/themer/use";

// Layout

.invoice {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__header {
    grid-area: header;
    height: fit-content;
  }
  &__data {
    grid-area: data;
    height: fit-content;
  }
  &__totals {
    grid-area: total;
    height: fit-content;
  }
  &__seller {
    grid-area: seller;
    height: fit-content;
  }
  &__client {
    grid-area: client;
    height: fit-content;
  }
  &__footer {
    grid-area: footer;
    height: fit-content;
  }
  &__notes {
    grid-area: note;
    max-height: fit-content;
  }
  &__invoice-info {
    grid-area: invoice-info;
  }

  &__top {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header header"
      "client client space seller seller";
  }
  &__middle {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "invoice-info invoice-info data data data"
      "x x total total total";
  }
  &__bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "note note note note note"
      "footer footer footer footer footer";
  }
}

// Header

.invoice {
  &__header {
    padding: 0 0 calc(#{variable(space)} * 3) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    svg {
      max-width: 2cm;
      max-height: 2cm;
    }
  }
  &__logo-background {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    overflow: hidden;
    svg {
      position: absolute;
      right: 0;
      z-index: 1;
      transform: scale(1.5) translateX(10%) translateY(0%);
      path {
        // fill: variable(primary25);
        stroke: variable(background);
        stroke-width: 1px;
        fill: transparent;
        // fill: variable(background);
      }
    }
  }
}

.invoice {
  &__top {
    background-color: variable(primary10);
    padding: 4em;
  }
  &__middle {
    padding: 4em;
  }
  &__notes {
    border-top: 1px solid variable(primary25);
    padding: 4em;
  }

  &__footer {
    position: relative;
    background-color: variable(foreground);
    color: variable(foregroundText);
    overflow: hidden;
    a {
      color: inherit;
      text-decoration: none;
    }
    .invoice__logo {
      position: absolute;
      right: 0;
      top: 50%;
      display: block;
      transform: translateY(-50%);
      svg {
        transform: rotate(-45deg);
        --size: 30em;
        max-width: var(--size);
        max-height: var(--size);
        height: var(--size);
        width: var(--size);
      }
      svg path {
        fill: variable(primary);
      }
    }
  }
}
// Entities
.invoice {
  &__seller,
  &__client {
    &--name {
      font-weight: bold;
    }
    &--postalcode + &--city {
      display: inline-block;
      &::before {
        content: "\2000";
      }
    }
    &--city {
      display: block;
    }
    &--country {
      display: block;
    }
  }
  &__seller {
    position: relative;
    z-index: 1;
    text-align: right;
  }

  &__client {
    font-size: 1.25em;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

// Data
.invoice {
  font-size: 0.3cm;

  @media print {
    padding: 0;
  }

  .cell {
    padding: 0;
    line-height: 3;
  }

  &__title {
    font-size: 0.5cm;
  }
  &__date {
    color: v(primary);
    font-size: 0.33cm;
  }

  &__total,
  &__item {
    display: grid;
    // padding: calc(var(--space) / 2) 0;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    & + & {
      // border-style: solid;
      // border-image-slice: 1;
      // border-width: 1px 0 0 0;
      // border-image-source: linear-gradient(
      //   to right,
      //   transparent,
      //   variable(primary25)
      // );
      border-top: 1px solid variable(primary25);
    }
  }
  &__item {
    padding-bottom: 2em;
    & + .invoice__item {
      padding-top: 2em;
    }
    &--title {
      grid-area: title;
      font-size: 1em;
    }
    &--amount {
      grid-area: amount;
      text-align: right;
      font-size: 1em;
    }
    &--total {
      grid-area: total;
      font-size: 1em;
      text-align: right;
    }
    &--description {
      grid-area: description;
      font-size: 1em;
      padding-top: 0em;
    }
    &--total-discount {
      font-weight: bold;
      opacity: 1;
      color: var(--secondary);
      text-decoration: none;
    }
    &--has-discount {
      span:first-child {
        opacity: 0.55;
        text-decoration: line-through;
      }
    }
    &--discount {
      color: var(--secondary);
      display: block;
    }
  }

  &__total {
    font-weight: bold;

    &:last-child {
      color: variable(primary);
    }

    &--total {
      grid-area: totalAmount;
      text-align: right;
      font-size: 1em;
    }
    &--space {
      grid-area: space;
    }
    &--label {
      text-align: right;
      grid-area: label;
    }
  }

  &__item {
    grid-template-areas:
      "title title title amount total"
      "description description description description description";
  }
  &__total {
    grid-template-areas: "space space space label totalAmount";
  }
  //   &__total-item--total {
  //     .invoice__total-label,
  //     .invoice__total-total {
  //       color: var(--primary);
  //     }
  //   }

  &__notes {
    display: flex;
    gap: v(space);
  }

  &__note {
    width: 100%;
    &-title {
      display: block;
      font-weight: bold;
      color: variable(primary);
    }
    &-description {
      opacity: 0.75; // border: 1px solid green;
      a {
        color: variable(primary);
        text-decoration: none;
      }
    }
  }
  &__footer {
    padding: calc(variable(space) * 2) 4em;
  }
}
