<div :class="bemm()" v-if="invoice.settings">
  <div :class="bemm('top')">
    <div
      :class="bemm('logo-background')"
      v-if="invoice.settings?.logo"
      v-html="invoice.settings?.logo"
    ></div>
    <section :class="bemm('client')">
      <InvoiceEntity :entity="Entity.CLIENT" />
    </section>

    <section :class="bemm('seller')">
      <div
        :class="bemm('logo')"
        v-if="invoice.settings?.logo"
        v-html="invoice.settings?.logo"
      ></div>
      <InvoiceEntity :entity="Entity.SELLER" />
    </section>
  </div>

  <div :class="bemm('middle')">
    <div :class="bemm('invoice-info')">
      <h2 :class="bemm('title')">
        {{t('invoice-no')}}<br />{{invoiceNumber}}
      </h2>
      <div :class="bemm('date')" v-if="invoice.current.date">
        {{t('invoice-date')}}<br />{{ formatDate(invoice.current.date) }}
      </div>
    </div>
    <section :class="bemm('data')">
      <ul :class="bemm('list')">
        <li :class="bemm('item')" v-for="entry in currentData">
          <h5 :class="[bemm('item','title'), 'cell']" v-if="entry.title">
            {{entry.title}}
          </h5>
          <span
            :class="[bemm('item','amount'), 'cell']"
            v-if="entry.amount"
            >{{entry.amount}}</span
          >
          <span
            :class="[bemm('item','total'), 'cell',  entry.discount && bemm('item','has-discount')]"
            v-if="entry.price"
          >
            <span>{{formatNumber(entry.amount * entry.price)}}</span>
            <span
              :class="bemm('item','total-discount')"
              v-if="entry.discount"
              >{{formatNumber(discount(entry.amount * entry.price,
              entry.discount))}}</span
            >
          </span>
          <p
            :class="[bemm('item','description'), 'cell']"
            v-if="entry.description"
          >
            {{entry.description}}
          </p>
          <span :class="bemm('item','discount')" v-if="entry.discount">
            - {{entry.discount}}% discount
          </span>
          <span :class="bemm('item','tax')" v-if="entry.tax">
            - {{t('vat', entry.tax)}}
          </span>
        </li>
      </ul>
    </section> 

    <section :class="bemm('totals')">
      <ul :class="bemm('list')">
        <li :class="[bemm('total')]">
          <span :class="bemm('total','space')"></span>
          <span :class="[bemm('total','label'), 'cell']"
            >{{t('sum')}}</span
          >
          <span :class="[bemm('total','total'), 'cell']">
            {{ formatNumber(sum) }}
          </span>
        </li>
        <li :class="bemm('total')">
          <span :class="bemm('total','space')"></span>
          <span :class="[bemm('total','label'), 'cell']"
            >{{t('vat', invoice.settings.tax)}}
          </span>
          <span :class="[bemm('total','total'), 'cell']">
            {{ formatNumber(tax) }}
          </span>
        </li>
        <li :class="bemm('total')">
          <span :class="bemm('total','space')"></span>
          <span :class="[bemm('total','label'), 'cell']"
            >{{t('total')}}</span
          >
          <span :class="[bemm('total','total'), 'cell']">
            {{ formatNumber(total) }}
          </span>
        </li>
      </ul>
    </section>
  </div> 

  <div :class="bemm('bottom')">
    <section :class="bemm('payment')">
      <dl :class="bemm('payment')"></dl>
    </section>
    <section :class="bemm('notes')">
      <dl
        :class="bemm('note')"
        v-for="(note,index) in invoice.settings.notes"
        :key="index"
      >
        <dt :class="bemm('note-title')" v-if="note.title">
          {{note.title}}
        </dt>
        <dd
          :class="bemm('note-description')"
          v-if="note.description"
          v-html="templator(note.description)"
        ></dd>
      </dl>
    </section>
    <footer :class="bemm('footer')" v-if="invoice.settings.footer">
      <div
        :class="bemm('line')"
        v-html="templator(invoice.settings.footer)"
      ></div>
      <div
        :class="bemm('logo')"
        v-if="invoice.settings?.logo"
        v-html="invoice.settings?.logo"
      ></div>
    </footer>
  </div>
</div>
