<div :class="bemm()">
  <header :class="bemm('header')">
    <section :class="bemm('title')">
      <Knop
        :type="ButtonType.ICON"
        :icon="ButtonIcon.ARROW_LEFT"
        @click="goBack()"
      />
      <h3>{{ sidebarTitle }}</h3>
      <Knop
        v-if="showNext"
        :type="ButtonType.ICON"
        :icon="ButtonIcon.ARROW_RIGHT"
        @click="editForm"
      />
    </section>
  </header>

  <main :class="bemm('main')" v-if="show=='start'">
    <section :class="bemm('section')">
      <KnoppenGroup :direction="ButtonDirection.COLUMN">
        <Knop :icon="ButtonIcon.NEW" @click="showForm" :size="ButtonSize.LARGE"
          >{{t('action.new-invoice')}}</Knop
        >
        <Knop
          :size="ButtonSize.LARGE"
          :icon="ButtonIcon.EDIT"
          @click="editForm"
          v-if="hasInvoice"
          type="secondary"
          >{{invoiceName}}</Knop
        >
      </KnoppenGroup>
    </section>
    <section :class="bemm('section')" v-if="savedInvoices.length > 0">
      <h3 :class="bemm('subheader')">
        {{ t('saved-invoice', savedInvoices.length)}}
      </h3>
      <div :class="bemm('invoices')">
        <InvoiceItem
          @click="editForm"
          v-for="invoice in savedInvoices"
          :invoice="invoice"
        />
      </div>
    </section>
    <!-- <section :class="bemm('section')">
      <KnoppenGroup>
        <Knop :icon="ButtonIcon.FLAG_NL" @click="switchLanguage('nl')"
          >{{t('language.nl')}}</Knop
        >
        <Knop :icon="ButtonIcon.FLAG_UK" @click="switchLanguage('en')"
          >{{t('language.en')}}</Knop
        >
      </KnoppenGroup>
    </section> -->
  </main>

  <main :class="bemm('main')" v-if="show=='form'">
    <InvoiceForm />
  </main>
</div>
