// @import "@sil/themer/use";

.control-panel {
  display: flex;
  flex-direction: column;

  &__header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: variable(foreground);
    border-bottom: 1px solid variable(foreground75);
  }
  &__subheader {
    color: variable(primary);
    // padding: 1em;
  }
  &__title,
  &__section {
    padding: variable(space);
    & + & {
      border-top: 1px solid variable(foreground75);
    }
  }

  &__title {
    display: flex;
    line-height: 2em;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    h3 {
      width: 100%;
    }
  }
  &__input {
  }
  // entries
  &__item {
    background-color: variable(foreground90);
    position: relative;
    padding: 1em;
    border-radius: variable(borderRadius);
    margin: 0 -1em;

    & + & {
      margin-top: 1em;
    }
  }
  &__invoices {
    margin-top: variable(space);
  }
  &__main {
    // border: 2px solid green;
  }
}
