// @import "@sil/themer/use";

.toolbar {
  position: fixed;
  bottom: variable(space);
  left: 50%;

  border-radius: calc(variable(borderRadius) * 5);
  background-color: variable(foreground);
  transform: translateX(-50%) translateY(50%);
  color: variable(foregroundText);
  padding: calc(variable(space) / 2);
  transform: translateX(-50%) translateY(0%);
  opacity: 1;
  z-index: 5;
  // &:hover {
  //   transform: translateX(-50%) translateY(0%);
  //   opacity: 1;
  // }
  @media print {
    display: none;
  }
}
