// @import "@sil/themer/use";

.toolbar {
  position: fixed;
  bottom: calc(#{variable(space)} / 1);
  left: 50%;

  border-radius: calc(variable(borderRadius) * 5);
  background-color: variable(foreground25);
  transform: translateX(-50%) translateY(50%);
  color: variable(foregroundText);
  padding: calc(variable(space) / 3);
  transform: translateX(-50%) translateY(0%);
  opacity: 1;
  z-index: 5;
  // &:hover {
  //   transform: translateX(-50%) translateY(0%);
  //   opacity: 1;
  // }

  &::before{
    content:""
  }
  @media print {
    display: none;
  }
}
