<Modal :identifier="ModalIdentifier.UPLOAD_INVOICE">
  <UploadInvoice></UploadInvoice>
</Modal>
<Modal :identifier="ModalIdentifier.CLIENTS_LIST">
  <Entities :entity="Entity.CLIENT" />
</Modal>
<Modal :identifier="ModalIdentifier.SELLERS_LIST">
  <Entities :entity="Entity.SELLER" />
</Modal>

<div class="toolbar">
  <ButtonBar :align="ButtonAlign.ROW">
    <ButtonComponent @click="action.sellers()" icon="home"
      >Sellers</ButtonComponent
    >
    <ButtonComponent @click="action.clients()" icon="company"
      >Clients</ButtonComponent
    >
    <ButtonComponent @click="action.upload()" icon="file"
      >Open File</ButtonComponent
    >
  </ButtonBar>
</div>
