// @import "@sil/themer/use";

.button {
  $block: &;

  color: white;
  border-radius: variable(borderRadius);
  border: none;
  padding: variable(space-xs);
  display: flex;

  &__text {
    font-size: 1em;
    font-weight: 600;
    line-height: 1em;
    white-space: nowrap;
    text-align: left;
  }

  &:hover {
    background-color: variable(primary75);
  }

  // Size Modifiers
  &--small {
    font-size: 0.85em;
  }
  &--medium {
    font-size: 1em;
  }
  &--large {
    font-size: 1.2em;
  }
  // Type Modifiers
  &--normal {
  }
  &--ghost {
    &#{$block}--primary {
      background-color: transparent;
      color: variable(primary);
      box-shadow: 0 0 0 1px variable(primary) inset;
      &:hover {
        background-color: variable(primary);
        color: variable(primaryText);
      }
    }
  }
  &--icon-only {
    padding: variable(space-xs);
  }

  // Color Modifiers

  &--primary {
    background-color: variable(primary);
    color: variable(primaryText);
  }
  &--secondary {
    background-color: variable(secondary);
    color: variable(secondaryText);
    &:hover {
      background-color: variable(secondary75);
      color: variable(secondary75Text);
    }
  }

  &--has-icon {
    padding-left: variable(space-xs);
    .icon {
      margin-right: variable(space-xs);
    }
  }

  // icons
}
