// @import "@sil/themer/use";

.button {
  $block: &;

  @include property(
    (
      color: white,
      border-radius: borderRadius,
      border: none,
      padding: v(space-xs) v(space-xs),
      display: flex,
    )
  );

  &__text {
    @include property(
      (
        font-size: 1em,
        font-weight: 600,
        line-height: 1em,
        white-space: nowrap,
        text-align: left,
      )
    );
  }

  &:hover {
    @include property(
      (
        background-color: primary75,
      )
    );
  }

  // Size Modifiers
  &--small {
    font-size: 0.85em;
  }
  &--medium {
    font-size: 1em;
  }
  &--large {
    font-size: 1.2em;
  }
  // Type Modifiers
  &--normal {
  }
  &--ghost {
    &#{$block}--primary {
      background-color: transparent;
      color: v(primary);
      box-shadow: 0 0 0 1px v(primary) inset;
      &:hover {
        background-color: v(primary);
        color: v(primaryText);
      }
    }
  }
  &--icon-only {
    padding: v(space-xs);
  }

  // Color Modifiers

  &--primary {
    @include property(
      (
        background-color: primary,
        color: primaryText,
      )
    );
  }
  &--secondary {
    @include property(
      (
        background-color: secondary,
        color: secondaryText,
      )
    );
    &:hover {
      @include property(
        (
          background-color: secondary75,
          color: secondary75Text,
        )
      );
    }
  }

  &--has-icon {
    padding-left: v(space-xs);
    .icon {
      margin-right: v(space-xs);
    }
  }

  // icons
}
