.invoice-form {
  &__subheader {
    color: var(--primary);
    // padding: 1em;
  }
  &__section {
    padding: var(--space);
    & + & {
      border-top: 1px solid var(--foreground-75);
    }
  }

  // entries
  &__item {
    position: relative;
    // padding: 1em;
    border-radius: var(--border-radius);
    // margin: 0 -1em;

    & + & {
      margin-top: 2em;
    }
  }
}
