@import "@sil/themer/use";

.invoice-form {
  &__subheader {
    color: variable(primary);
    // padding: 1em;
  }
  &__section {
    padding: variable(space);
    & + & {
      border-top: 1px solid variable(foreground75);
    }
  }

  // entries
  &__item {
    position: relative;
    // padding: 1em;
    border-radius: variable(borderRadius);
    // margin: 0 -1em;
    & + & {
      margin-top: 2em;
    }
  }
}
