<div>
  <section :class="bem(block,'section')">
    <FormNumber :label="`${t('invoice')} #`" v-model="invoice.current.number" />
    <FormNumber :label="t('vat')" v-model="invoice.settings.tax" />
    <FormSelect
      :label="t('currency')"
      :options="currencyOptions"
      v-model="invoice.settings.currency"
    />
  </section>

  <section :class="bem(block,'section')">
    <h3 :class="bem(block,'subheader')">{{t('item',2)}}</h3>

    <ul :class="bem(block,'items')">
      <InvoiceItemForm
        tag="li"
        :class="bem(block,'item')"
        :item="item"
        v-for="(item,index) in invoice.current.data"
        :key="index"
      />
    </ul>
    <KnoppenBar :align="ButtonAlign.CENTER">
      <Knop
        :class="bem(block,'add')"
        @click="actions.newEntry"
        :icon="ButtonIcon.ADD"
      >
        {{t('action.add-item')}}
      </Knop>
    </KnoppenBar>
  </section>

  <section :class="bem(block,'section')">
    <h3 :class="bem(block,'subheader')">
      {{t('client')}}
      <div class="label">{{invoice.client.id}}</div>
    </h3>

    <InvoiceEntity
      v-show="!editting.client"
      @click="toggleShow('client')"
      :entity="invoice.client"
    />

    <InvoiceEntityForm
      v-show="editting.client"
      :class="bem(block,'entity')"
      :entity="invoice.client"
    />

    <KnoppenBar>
      <Knop @click="showModal(ModalIdentifier.CLIENTS_LIST)">
        {{ t('action.show-clients')}}
      </Knop>
      <Knop @click="toggleShow('client')" :icon="ButtonIcon.EDIT"
        >{{!editting.client ? 'Edit Client' : 'Stop Edit'}}</Knop
      >
      <Knop @click="addClient" v-if="showSaveClient"> Save client </Knop>
      <Knop @click="addNewClient" v-if="showSaveNewClient">
        Save as new client
      </Knop>
    </KnoppenBar>
  </section>

  <section :class="bem(block,'section')">
    <h3 :class="bem(block,'subheader')">
      Seller
      <div class="label">{{invoice.seller.id}}</div>
    </h3>
    <InvoiceEntity
      v-show="!editting.seller"
      @click="editting.seller = true"
      :entity="invoice.seller"
    />
    <InvoiceEntityForm
      v-show="editting.seller"
      :class="bem(block,'entity')"
      :entity="invoice.seller"
    />

    <KnoppenBar>
      <Knop @click="toggleShow('seller')" :icon="ButtonIcon.EDIT"
        >{{!editting.seller ? 'Edit Seller' : 'Stop Edit'}}</Knop
      >
    </KnoppenBar>
  </section>

  <section :class="bem(block,'section')">
    <KnoppenBar>
      <Knop @click="actions.saveInvoice" icon="arrow-down">Save</Knop>
      <Knop icon="arrow-down">Export</Knop>
    </KnoppenBar>
  </section>
  <!-- 
  <Modal :identifier="ModalIdentifier.ClIENT_FORM"> </Modal>

  <Modal :identifier="ModalIdentifier.SELLER_FORM"> </Modal> -->

  <Modal :identifier="ModalIdentifier.CLIENTS_LIST">
    <Clients />
  </Modal>
</div>
