// // // @import "@sil/themer/use";

@import "@sil/themer/app";

// #app {
//   @include property(
//     (
//       position: relative,
//       font-family:
//         '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"',
//       -webkit-font-smoothing: antialiased,
//       -moz-osx-font-smoothing: grayscale,
//       color: variable(foreground),
//       background-color: variable(background10),
//     )
//   );
// }
:root {
  --space: 2em;
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.form-field {
  margin: 0;
  & + p,
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6,
  & + .form-field,
  & + .button {
    margin-top: 1em;
  }
}

.id-label {
  @include property(
    (
      background-color: foreground,
      border: 1px solid variable(foreground90),
      color: foreground75,
      display: inline-block,
      padding: 0.25em 0.5em,
      border-radius: borderRadius,
      font-size: 0.75rem,
    )
  );
}

p {
  line-height: 1.5;
}

hr {
  @include property(
    (
      margin: 1.5em 0,
      background-color: foreground50,
      color: foreground50,
      opacity: 0.5,
      height: 1px,
      border: none,
    )
  );
}

.debug {
  &--active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 4px;
    padding: 2em;
    max-width: 80vw;
    max-height: 80vh;
    overflow: scroll;
  }
  &--inactive {
    position: absolute;

    padding: 1em;
    top: 0;
    left: 0;
  }
  @media print {
    display: none;
  }
}

.data-list {
  dt {
    display: block;
    font-weight: block;
    opacity: 0.5;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: bold;
    & + dd {
      margin-top: 0.25em;
    }
  }
  dd {
    display: block;
  }

  & + & {
    margin-top: 1em;
  }
}
