@import "./theme.scss";
@import "@sil/themer/use";

@mixin displayBlock {
  position: relative;
  background-color: variable(foreground90);
  color: variable(foreground90Text);
  padding: variable(space);
  border-radius: variable(borderRadius);

  .id-label {
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    z-index: 2;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    transform: translate(-50%, -50%);
  }
  &::before {
    background-color: variable(secondary);
  }
  &::after {
    content: "\270E";
    font-size: 1.5em;
    color: variable(secondaryText);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
  }

  &:hover {
    cursor: pointer;
    // background-color: variable(secondary);

    &::before {
      opacity: 1;
    }
    &::after {
      opacity: 1;
    }

    .label {
      background-color: variable(secondary75);
    }
  }
}
