$theme-colors: (
  "background": #ffffff,
  "foreground": #1a1a2a,
  "accent": #cccccc,
  "primary": #1d99ca,
  "secondary": #6929a5,
  "error": rgb(155, 63, 63),
  "warning": rgb(206, 153, 54),
  "success": rgb(63, 139, 63),
);

$theme-settings: (
  prefix: "billy",
  borderRadius: 4px,
  colors: (
    colorModes: false,
  ),
);
