<div :class="bem(block)">
  <section :class="bem(block,'title')">
    <Knop
      :type="ButtonType.ICON"
      :icon="ButtonIcon.ARROW_LEFT"
      @click="goBack()"
    />
    <h3>{{ sidebarTitle }}</h3>
  </section>

  <div>
    <transition name="fade">
      <div v-show="show=='start'">
        <section :class="bem(block,'section')">
          <KnoppenBar>
            <Knop :icon="ButtonIcon.NEW" @click="show = 'form'"
              >{{t('action.new-invoice')}}</Knop
            >
          </KnoppenBar>
        </section>
        <section :class="bem(block,'section')">
          <InvoiceItem v-for="invoice in savedInvoices" :invoice="invoice" />
        </section>
        <section :class="bem(block,'section')">
          <KnoppenBar>
            <Knop :icon="ButtonIcon.FLAG_NL" @click="switchLanguage('nl')"
              >{{t('language.nl')}}</Knop
            >
            <Knop :icon="ButtonIcon.FLAG_UK" @click="switchLanguage('en')"
              >{{t('language.en')}}</Knop
            >
          </KnoppenBar>
        </section>
      </div>
    </transition>
  </div>

  <div>
    <transition name="fade">
      <InvoiceForm v-show="show == 'form'" />
    </transition>
  </div>
</div>
