.sidebar {
  &__subheader {
    color: var(--primary);
    // padding: 1em;
  }
  &__title,
  &__section {
    padding: var(--space);
    & + & {
      border-top: 1px solid var(--foreground-75);
    }
  }

  &__title {
    display: flex;
    line-height: 2em;
    gap: 1em;
  }
  &__input {
  }
  // entries
  &__item {
    background-color: var(--foreground-90);
    position: relative;
    padding: 1em;
    border-radius: var(--border-radius);
    margin: 0 -1em;

    & + & {
      margin-top: 1em;
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  position: absolute;
  transform: translateX(0);

  transition: transform 0.5s ease;
}

.fade-leave-to {
  position: absolute;
  transform: translateX(-100%);
}
.fade-enter-from {
  position: absolute;
  transform: translateX(100%);
}
