:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark: #062232;
  --light: #ffffff;

  --border-radius: 3px;
  /* --primary: #abdb7c; */
  --primary: #1aa8cc;
  --primary-rgb: 26, 168, 204;
  --primary-text: var(--light);
  --border-radius: 4px;

  --secondary: #79eec7;
  --secondary-rgb: 121, 238, 199;
  --secondary-text: var(--dark);

  --space-xs: 0.33em;
  --space-s: 0.5em;
  --space: 1em;
  --space-l: 2em;
  --space-xl: 3em;

  --background: var(--dark);
  --foreground: var(--light);

}
body{
  background: var(--background);
  color: var(--foreground);
  background: radial-gradient(var(--dark),black);
  background-size: 100% 100%;
  min-height: 100vh;
}


body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


.fields {
  display: flex;
  flex-direction: column;
  gap: 1em;
}


dl {
  display: flex;
  flex-direction: column;

  dt,
  dd {
    padding: 0;
    margin: 0;
  }

  dt {
    font-weight: bold;
  }

  dd {}
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


@media print {

  body{
    background-color: red; 
    background: blue;
  }
  .debug {
    display: none;
  }

  .preview {
    padding-top: 0;
  }

  .preview__tools {
    display: none;
  }

  .preview__paper {
    font-size: .99cm;
    border: none;
  }

  .preview__invoice {
    // padding: 0; 
  }

  @page {
    size: portrait;
    margin: 0%
  }
}