@import "../form.scss";

.form-text-area {
  $block: &;
  @include FormParent($block);
  &__container {
    @include FormContainer($block);
  }
  &__label {
    @include FormLabel($block);
  }
  &__control {
    @include FormControl($block);
    height: 100px;
    resize: none;
  }
}
