// @import "@sil/themer/use";

.sidepanel {
  $block: &;
  @include property(
    (
      position: fixed,
      right: 0,
      top: 0,
      height: 100%,
      width: 100%,
      pointer-events: none,
      z-index: 5,
    )
  );
  &__button {
    @include property(
      (
        position: fixed,
        top: 0,
        pointer-events: all,
        right: 0,
        margin: v(space-s) calc(#{variable(space-s)} * 1.5),
        transform: translateX(calc(v(space-s) * -1.5)),
        transition: transform 0.3s ease-in-out,
      )
    );
  }
  &__panel {
    @include property(
      (
        width: 100%,
        height: 100%,
        max-height: 100vh,
        max-width: 320px,
        clip-path: inset(0 0 0 calc(100% - #{variable(space)})),
        transition: clip-path 0.3s ease-in-out,
        background-color: foreground,
        color: background,
        position: absolute,
        top: 0,
        overflow-y: scroll,
        pointer-events: none,
      )
    );
  }
  &__background {
    @include property(
      (
        background-color: black,
        position: absolute,
        left: 0,
        top: 0,
        right: 0,
        bottom: 0,
        opacity: 0,
        transition: "opacity 0.3s ease-in-out",
        pointer-events: none,
      )
    );
  }
  &__container {
    @include property(
      (
        transform: translateX(calc(50%)),
        opacity: 0,
        transition: "transform 0.3s ease-in-out, opacity 0.3s ease-in-out",
      )
    );
  }

  &--right {
    #{$block}__panel {
      right: 0;
    }
  }
  &--left {
    #{$block}__panel {
      left: 0;
    }
  }

  &--active {
    #{$block}__panel {
      clip-path: inset(0 0 0 0);
      pointer-events: all;
    }
    #{$block}__background {
      pointer-events: all;
    }
    #{$block}__container {
      opacity: 1;
      transform: translateX(0%);
    }
    #{$block}__button {
      transform: translateX(calc(-320px + #{variable(space-xs)}));
    }

    & + .preview {
      .preview__paper {
        --transform-x-desktop: calc((320px / 2) * -1);
        --transform-x-tablet: calc((320px / 2) * -1);
        --transform-x-mobile: calc((320px / 2) * -1);
      }
    }
  }
  @media print {
    display: none;
  }
}
